<h1>You've added a product!</h1>
<h2>Your product's name is <%= @new_product.name %>.</h2>
<h2>Your product's price is <%= @new_product.price %>.</h2>
<h2>Your product's image is <img src = "<%= @new_product.image %>"> </h2>
<h2>Your products's description is: <%= @new_product.description %></h2>
